<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGE.Data.Properties.Settings.SistemaGestaoEscolarConnectionString"
            connectionString="Data Source=.;Initial Catalog=SistemaGestaoEscolar;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="SGE.Data.Properties.Settings.SistemaGestaoEscolarConnectionString1"
            connectionString="Data Source=SistemaGestaoEscolar.mssql.somee.com;Initial Catalog=SistemaGestaoEscolar;User ID=ALCSG_SQLLogin_1;Password=6a8kbmnug5;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>